<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Student</h1>
    <form method="POST" action="/subject/add">
      Subject name:<br>
      <input type="text" name="subjectname">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>