<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Add Student </title>
</head>
<body>
        <h2> Add Students Data </h2>
        <h3> Show All Data </h3>
        <form action="/students/add" method="post">
                <p> First Name </p>
                <input type = "text" name = "first_name">
                <p> Last Name </p>
                <input type = "text" name = "last_name">
                <p> Email </p>
                <input type = "text" name = "email">
                <p>
                    <button type="submit"> Add Student </button>
                </p>
        </form>       
</body>
</html>
