<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
</head>
<body>
    <div class="container container-fluid">
        <center>
            <h1>
                Edit Students Data
            </h1>
            <a href="/student/">Show all students</a>
        </center>

        <form action="/student/edit/<%= data.id %>" method="POST">
            <div class="form-group">
                <label for="first_name"><b>First Name</b></label>
                <input name="first_name" id="first_name" class="form-control" placeholder="First name" value="<%= data.first_name %>">
            </div>
            <div class="form-group">
                <label for="last_name"><b>Last Name</b></label>
                <input name="last_name" id="last_name" class="form-control" placeholder="Last name" value="<%= data.last_name %>">
            </div>
            <div class="form-group">
                <label for="email"><b>Email</b></label>
                <input name="email" id="email" class="form-control" placeholder="Email" value="<%= data.email %>">
            </div>
            <button type="submit" class="btn btn-primary">Edit Student</button>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>