<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Subject Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/form-styles.css" />
</head>

<body>
    <h1>Edit Subject</h1>
    <p class="center"><a href="/subject %>">See all subjects</a></p>
    
    <form method="POST" action="/subject/edit<%=data.id %>">
        <p>Subject:</p>
        <input type="text" name="subject" value="<%= data.subject_name%>" required>
        <input id="submit" type="submit" value="Edit Subject">
    </form>
</body>
</html>