<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> School Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
     <a href="/students"> Students list</a>
     <a href="/students/add"> add Student </a>
</body>
</html>