<html>
    <style>
    table,th,td{border: 2px solid black;}
    </style>
    <h1 style="text-align:center; color:burlywood">Found Student Data</h1>
    <h3 style="text-align:center; margin-top: -15px;"><a href="/students/add">add student</a></h3>
    <table style="width: 100% ">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
            
        <tr>
            <td style="text-align: center"><%= student.first_name %></td>
            <td style="text-align: center"><%= student.last_name %></td>
            <td style="text-align: center"><%= student.email %></td>
        </tr>
    </table>
</html>