<html>
    <h1 style="text-align:center; color:blueviolet">Add Subjects Data</h1>
    <h3 style="text-align:center; margin-top: -15px;"><a href="/subjects">show all data</a></h3>
  <form method="POST">
    Subject name:<br>
    <input type="text" name="subjectname"><br>
    <input type="submit" value="Add Subject">
  </form> 
</html>