<html>
    <h1 style="text-align:center; color:blue">Edit Subject Data</h1>
    <h3 style="text-align:center; margin-top: -15px;"><a href="/students">show all data</a></h3>
  <form method="POST">
    Subject name:<br>
    <input type="text" name="firstname"><br>
    <input type="submit" value="Edit Subject">
  </form> 
</html>