<html>
    <h1 style="text-align:center; color:blueviolet">Add Students Data</h1>
    <h3 style="text-align:center; margin-top: -15px;"><a href="/students">show all data</a></h3>
  <form method="POST">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Email:<br>
    <input type="int" name="email"><br>
    <input type="submit" value="Add Student">
  </form> 
</html>