
 <html>
        <head>
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

           <style>
                h1 {
                    justify-content: center;
                    text-align: center;
                    color: aquamarine
                }
                .form-control {
                    width: 20%;
                }
                </style>
        </head>

        <body>
            <h1> Edit Students Data</h1>
            <form action="/students/edit/<%= data.id %>" method="POST">
                <div class="form-group">
                    <label for = "exampleInputName"> First Name</label>
                    <input type ="text" class="form-control" name ="first_name" value="<%= data.first_name %>" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <label for = "exampleInputName"> Last Name</label>
                    <input type ="text" class="form-control" name ="last_name" value="<%= data.last_name %>" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for = "exampleInputName"> Email</label>
                    <input type ="text" class="form-control" name ="email" value="<%= data.email %>" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>

            <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
            </script>
        </body>
   </html>
