<html>
    <h1>Teacher Data Saved Successfully!</h1>
    Here is the data being saved!<br>
    First Name: <%= dataSaved.first_name %><br>
    Last Name: <%= dataSaved.last_name %><br>
    Email: <%= dataSaved.email %><br>
</html>