
 <html>
     <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     </head>

    <style>
    h1 {
        justify-content: center;
        text-align: center;
        color: aquamarine
    }
    .form-control {
        width: 20%;
    }
    </style>
    <h1> Add Students Data</h1>
    <body>
    <form action="/students" method="POST">
        <div class="form-group">
            <label for = "exampleInputName"> First Name</label>
            <input type ="text" class="form-control" name ="first_name" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for = "exampleInputName"> Last Name</label>
            <input type ="text" class="form-control" name ="last_name" placeholder="Enter last name">
        </div>
        <div class="form-group">
            <label for = "exampleInputName"> Email</label>
            <input type ="text" class="form-control" name ="email" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
</body>
</html>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
