<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Student Data</h1>
    <h4>Please fill in the forms below</h4>

    <form>
        <label>First Name</label><br>
        <input type="text" name = "first name"><br>
        <label>Last Name</label><br>
        <input type="text" name = "Last name"><br>
        <label>Email</label><br>
        <input type="text" name = "Email"><br>
    </form>
    <button type="submit" form="nameform" value="Submit">Submit</button>
    
</body>
</html>